/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

html, body{
  height:100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}

section {
  width: 100%;
  display: block;
  float: left;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

p {
  text-align: left;
  margin: 24px 0;
  font-size: 2em;
  line-height: 1.25em;
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
  color: #1F1F1F;
  line-height: 1.5em;
}


h1 {
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #f1c40f;
}

h3 {
  font-size: 1.75em;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.25em;
  color: #666;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}


a {
  color: #1F1F1F;
  text-decoration: none;
  font-style:   normal;
  font-stretch: normal;
  cursor: pointer;
}

a:hover {
  color: #f1c40f;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 1.25em;
}

/******* Header *******/
header {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

header h1 {
  padding-left: 20px;
  padding-top: 10px;
}

.search {
  position: absolute;
  top: 25px;
  right: 20px;
}

.search input {
  width: 200px;
  height: 30px;
  font-size: 1em;
  border: 1px solid #1f1f1f;
  display: inline-block;
  padding: 5px;
  outline: none;
}

.search button  {
  background:#a73f2d;
  border: none;;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  height: 30px;
  width: 60px;
  line-height: 30px;
  font-size: 0.75em;
  text-decoration:none;
  outline: none;
}

.search button:hover {
  background-color:#b34332;
}
.search button:active {
  position:relative;
  top:1px;
}

/******* Home Section *******/
#home {
  padding-top: 80px;
}

#movies li {
  width: 20%;
  height: 300px;
  float: left;
  background-size: cover !important;
  border: 2px solid #fff;
}

#movies li:hover {
  cursor: pointer;
}

/******* Info Section *******/

#info {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  display: none;
}

.info_wrapper {
  width: 60%;
  height: 100%;
  padding: 20px;
  float: right;
  overflow: scroll;
  position: relative;
}

h3 span {
  display: block;
  color: #f1c40f;
}

#close_info {
  background: none;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  font-size: 0.75em;
  cursor: pointer;
  position: absolute;
  top: 95px;
  left: 20px;
}

#close_info:hover {
  background: #fff;
  color: #000;
}



#poster_wrapper {
  width: 40%;
  height: 100%;
  float: left;
}

#info_poster {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  margin-top: 20px;
}



/* -- Breakpoint 1 960px
------------------------------------------------------------- */
@media only screen and (max-width: 960px) {

  #movies li {
    width: 33.333%;
  }

}


/* -- Breakpoint 2 780px
------------------------------------------------------------- */
@media only screen and (max-width: 620px) {

  header {
    height: 100px;
  }

  header h1 {
    text-align: center;
    font-size: 2em;
  }

  #home {
    padding-top: 100px;
  }

  .search {
    width: 100%;
    display: block;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    padding-left: 60px;
  }


  #movies li {
    width: 50%;
  }

}


/* -- Breakpoint 2 480px
------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

  #movies li {
    width: 100%;
  }

}
